@{
    ViewBag.Title = "Ayuda";
    Layout = null;
}

<h4>Nuevo usuario</h4>
<p>Presiona el boton <em>Nuevo usuario</em>, completa los campos necesarios y despues pulsas el botón <em>Guardar información</em></p>

